#container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;

    list-style: none;
}

li{
    font-weight: bolder;
    font-size: 25px;
    margin: 20px;
}

#logo{
    width: 250px;
    height: 100px;
}